body
{
	background-color: #b5b3ca;
}
.container
{
	width: 90%;
	margin: auto;
}
.en_tete
{
	color: #ffffff;
	width: 100%;
	font-style: italic;
	font-weight: bold;
	font-family: cursive;
	font-size: 2.5em;	
	text-shadow: 3px 3px 5px black;
	text-align: center;
}
nav
{   
    margin: auto;
    margin-top: 0.5em;
    width: 100%;
	background-color: #eb7eb8;
	color: #1d1759;
}
.lien_nav
{
	display: inline-block;
	margin: 0% 4%;
	padding: 1em 1.1em;
    font-family: calibri;
    font-weight: bold;
	text-decoration: none;
}
.saisi:focus
{
	background-color: #25afd9;
	color: red;
}
.lien_nav:hover
{
	background-color: #83dd86;
	color: yellow;
}
.search
{
	background-color: black;
	color: #ffffff;
	padding: 5px 15px;
	text-decoration: none;
}
section
{
	margin: auto;
	margin-top: 0.5em;
	width: 100%;
	height:20em;	
}
article
{
	display: inline-block;
	width: 79%;
	height: 91%;
	padding: 3% 2% 0% 1%;
	background-color: #ffffff;	
	overflow: auto;
}
.en_tete_article
{	
	font-family: cursive;
	font-style: italic;
	color: black;
	width: 100%;
	text-align: center;
	font-size: 1.9em;
	font-weight: bold;
}
aside
{		
	display: inline-block;
	width: 16.7%;
	height: 100%;
	background-color: #eb7eb8;
	margin-left: 0.5em;	
	overflow: auto;
}
aside h2
{
	font-size: 1.9em;
	font-style: italic;
	width: 99%;
	text-align: center;
	font-family: cursive;
	margin-top: 0px;
}
footer 
{	
	width: 100%;
	height: 40px;
	margin: auto;
	background-color: #ffffff;	
}
footer p
{
	padding: 0.7em 1%;
	margin-top: 0.5em;
}


